<html>

  <head>
    <% include ../partials/head %>
    
    <link rel="stylesheet" text="text/css" href="../CSS/SearchPage.css"></link>
    <title>SearchPage</title>

  </head>
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <body onload="yes()">
      <div id = "searchResults">

      </div>
    </body>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</html>
